.sevBody{
    padding: 45px;
    padding-top: 35px;
    display: grid;
    width: 100%;
    gap: 1em;
    grid-template-areas: 
    "header"
    "mainPhoto"
    "sketches"
    "midText"
    "equipmentPhotos";
}


.sevBody .finishedImage{
    grid-area: mainPhoto;
}

.sevBody .finishedImage img{
    margin-top: 35px;
    width: 93%;
}

.sevBody .sketches{
    display: grid;
    width: 90%;
    gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(300px, 330px) );
}

.sevBody .sketches > img{
    width: 330px;
}

.sevBody .landscapeImages {
    display: grid;
    width: 90%;
    gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(300px, 330px) );
}


.sevBody .landscapeImages> img{
    width: 330px;
}

.sevBody .midText{
    width: 70%;
    font-weight: 400;
    font-size: 20px;
}


@media screen and (min-width: 550px) and (max-width: 1000px){
    .sevBody{
        padding: 5%;
    }
}
  @media screen and (max-width: 549px){
    .sevBody{
        padding: 4%;
    }
    .sevBody .finishedImage img{
        width: 86%;
    }

    .header .introText{
        width: 87%;
    }
}
  