.card {
    margin: 0;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
    top: 0;
    display: grid;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    float: right;
  }

  
  .card::-webkit-scrollbar {
    display: none;
  }
  
  .card .cardTitle{
    position: fixed;
    padding-left: .75%;
    writing-mode: vertical-Lr;
    font-size: 14px;
    padding-top: 90px;
    line-height: 0;
    color: "white";
    height: 300px;
    z-index: 3;
    cursor: pointer;
  }

  .arrowContainer{
    font-size: 40px;
    z-index: 2;
    cursor: pointer;
  }

  .arrowContainer .left{
    position: fixed;
    bottom: 20px;
    left: 30px;
  }

  .arrowContainer .right{
    position: fixed;
    bottom: 20px;
    right: 30px;
  }