@import-normalize;

:root{
  --yellow-v: #ffe928;
  --red-v: #ff483a;
  --green-v: #2cb482;
  --blue-v: #416fe3;
  --black-v: #111010;
}

@font-face {
  font-family: "Satoshi-Variable";
  src: local("Satoshi-Variable"), url(./assets/fonts/Satoshi-Variable.ttf) format('opentype');
}

@font-face {
  font-family: "Satoshi-VariableItalic";
  src: local("Satoshi-VariableItalic"), url(./assets/fonts/Satoshi-VariableItalic.ttf) format('opentype');
}

body{
  margin: 0;
  background-color: var(--black-v);
}

h1{
  font-size: 53px;
  font-weight: 900;
  line-height: 55px;
  font-family: "Satoshi-Variable";
}
h2{
  font-size: 15px;
  font-weight: 900;
  line-height: 20px;
  font-family: "Satoshi-Variable";
}

p{
  font-weight: 400;
  font-size: 15px;
  font-family: "Satoshi-Variable";
}
