.aboutMe {
  display: grid;
  grid-template-areas: 
  "main";
  width: 100%;
  height: fit-content;
  padding: 45px;
  padding-top: 35px;
} 

.aboutMe .body{
  grid-area: main;
  display: grid;
  grid-template-areas: 
  "sketch"
  "bodyText"
  "link"
  "contact";
  width: 100%;
}

.aboutMe .aboutText{
  font-size: 24px;
  font-weight: 500;
  width: 50%;
  margin-bottom: 10px;
}
.aboutMe .footer{
  position: fixed;
  font-weight: 500;
  bottom: 55px;
}

.aboutMe .contact{
  margin-top: 20px;
  width: 300px;
  grid-area: contact;
  display: grid;
  grid-template-areas: 
  "body";
  line-height: 1.2rem;
  height: fit-content;
}

.aboutMe .contact .contactText{
  font-weight: 100;
  line-height: 22px;
  grid-area: body;
  margin-bottom: 0;
  padding: 0;
}
.aboutMe .contact .contactHeader{
  font-weight: 580;
  margin-top: 0;
  margin-bottom: 6px;
  grid-area: body;
  line-height: 12px;
}

.sketchContainer{
  grid-area: sketch;
  position: fixed;
  left: 0;
  top: 0;
  margin-top: 5px;
  width: 88%;
  overflow: hidden;
  z-index: 0;
  cursor: pointer;
}
.sketchLink{
  line-height: 10px;
  grid-area: link;
  width: 130px;
}

@media screen and (min-width: 550px) and (max-width: 750px){
  .aboutMe .aboutText {
    width: 70%;
  } 
  .sketchContainer{
    width: 100%;
  }
  .aboutMe{
    padding: 5%;
  } 

}

@media screen and (max-width: 549px){
  .aboutMe .aboutText {
    width: 90%;
  } 
  .sketchContainer{
    width: 100%;
  }
  .aboutMe .footer{
    font-size: 35px;
  }
  .aboutMe{
    padding: 4%;
  } 
}
