.aboutMe {
  display: grid;
  grid-template-areas: 
  "head"
  "main";
  width: 700px;
  height: fit-content;
} 

.aboutMe .header{
  position: absolute;
  left: 5%;
  top: 15px;
  z-index: 2;
}


.aboutMe .body{
  padding-left: 65px;
  grid-area: main;
  display: grid;
  grid-template-areas: 
  "bodyText" 
  "contact";
  margin-top: 50px;
}

.aboutMe .aboutText{
  grid-area: bodyText;
  margin-bottom: 0;
  padding-top: 0px;
  font-size: 30px;
}

.aboutMe .tagLine{
  grid-area: tagline;
  position: relative;
  left: 25px;
  top: -60px;
  margin-bottom: 0;
  line-height: 110px;
  font-size: 120px;
}

.aboutMe .contact{
  margin-top: 20px;
  grid-area: contact;
  display: grid;
  grid-template-areas: 
  "body";
  line-height: 1.2rem;
  height: fit-content;
}

.aboutMe .contact .contactText{
  font-weight: 100;
  margin-left: 5px;
  line-height: 22px;
  grid-area: body;
}
.aboutMe .contact .contactHeader{
  font-weight: 580;
  margin-top: 0;
  margin-bottom: 6px;
  margin-left: 5px;
  grid-area: body;
  line-height: 12px;
}

@media screen and (min-width: 500px) and (max-width: 700px){
  .aboutMe {
    width: 500px;
  } 
  .aboutMe .body{
    padding-left: 12%;
  }
}

@media screen and (max-width: 499px){
  .aboutMe {
    width: 350px;
  } 
  .aboutMe .body{
    padding-left: 12%;
  }
}
